.App {
  padding: 50px;
}

.select {
  min-width: 100px;
  height: 25px;
  background-color: azure;
  border-radius: 2px;
  font-size: 1em;
  border: 1px cadetblue solid;
}

.select:focus {
  outline: none;
}